server {
    listen {{ lookup('env', 'HTTP_PORT') }};
    server_name {{ lookup('env', 'HTTP_HOST') }} www.{{ lookup('env', 'HTTP_HOST') }};

    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    return 301 https://$host$request_uri;
}

server {
    listen {{ lookup('env', 'HTTPS_PORT') }} ssl http2;
    server_name {{ lookup('env', 'HTTP_HOST') }} {{ lookup('env', 'HTTP_HOST') }};
    root /var/www/{{ lookup('env', 'HTTP_HOST') }};
    index index.html;

    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    ssl_certificate /home/{{ lookup('env', 'DEFAULT_USER') }}/{{ lookup('env', 'HTTP_HOST') }}.crt;
    ssl_certificate_key /home/{{ lookup('env', 'DEFAULT_USER') }}/{{ lookup('env', 'HTTP_HOST') }}.key;
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    ssl_prefer_server_ciphers off;

    add_header Strict-Transport-Security "max-age=63072000" always;

    ssl_stapling on;
    ssl_stapling_verify on;

    ssl_trusted_certificate /home/{{ lookup('env', 'DEFAULT_USER') }}/chain.crt;

    resolver 127.0.0.1;

    error_page 404 /404.html;
    location  /404.html {
      internal;
    }

    error_page 403 /403.html;
    location  /403.html {
      internal;
    }
}
