server {
    listen {{ lookup('env', 'HTTP_PORT') }};
    server_name {{ lookup('env', 'HTTP_HOST') }} www.{{ lookup('env', 'HTTP_HOST') }};
    root /var/www/{{ lookup('env', 'HTTP_HOST') }};
    index index.html;

    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
}
