#!/usr/bin/env bash

MONITOR_URL="https://cronitor.link/p/{{ lookup('env', 'CRONITOR_API_KEY') }}/{{ lookup('env', 'CRONITOR_JOB_KEY') }}"
CF_Key="{{ lookup('env', 'CLOUDFLARE_API_KEY') }}"
CF_Email="{{ lookup('env', 'CLOUDFLARE_EMAIL') }}"

cert_path="/home/{{ lookup('env', 'DEFAULT_USER') }}/{{ lookup('env', 'HTTP_HOST') }}.crt"
key_path="/home/{{ lookup('env', 'DEFAULT_USER') }}/{{ lookup('env', 'HTTP_HOST') }}.key"


_update_cert() {
  /usr/bin/openssl ecparam \
    -genkey \
    -name secp384r1 | /usr/bin/openssl ec \
      -out ${key_path} && \
  /usr/bin/openssl req \
    -new \
    -key ${key_path} \
    -out /home/{{ lookup('env', 'DEFAULT_USER') }}/{{ lookup('env', 'HTTP_HOST') }}.csr \
    -subj "/C=US/ST=NY/L=NY/O=NA/OU=NA/CN={{ lookup('env', 'HTTP_HOST') }}" && \

  bash .acme.sh/acme.sh \
    --sign-csr \
    --dns dns_cf \
    --csr /home/{{ lookup('env', 'DEFAULT_USER') }}/{{ lookup('env', 'HTTP_HOST') }}.csr \
    --force \
    --server letsencrypt

  rc=$?

  cp /home/{{ lookup('env', 'DEFAULT_USER') }}/.acme.sh/{{ lookup('env', 'HTTP_HOST') }}_ecc/fullchain.cer ${cert_path} && \
  cp /home/{{ lookup('env', 'DEFAULT_USER') }}/.acme.sh/{{ lookup('env', 'HTTP_HOST') }}_ecc/fullchain.cer /home/{{ lookup('env', 'DEFAULT_USER') }}/chain.crt && \

  sudo systemctl restart nginx
}

_backup_cert() {
  [[ ! -d "/home/{{ lookup('env', 'DEFAULT_USER') }}/backup_certificates" ]] && mkdir backup_certificates

  [[ -f "${cert_path}" ]] && \
    backup_cert="/home/{{ lookup('env', 'DEFAULT_USER') }}/backup_certificates/$(date +%Y-%m-%d-%H-%M)_{{ lookup('env', 'HTTP_HOST') }}.crt" && \
    cp ${cert_path} ${backup_cert}

  [[ -f "${key_path}" ]] && \
    backup_key="/home/{{ lookup('env', 'DEFAULT_USER') }}/backup_certificates/$(date +%Y-%m-%d-%H-%M)_{{ lookup('env', 'HTTP_HOST') }}.key" && \
    cp ${key_path} ${backup_key}
}

_report() {
  [[ ! -f /home/{{ lookup('env', 'DEFAULT_USER') }}/ssl_update_cron.log ]] && touch /home/{{ lookup('env', 'DEFAULT_USER') }}/ssl_update_cron.log
  echo -n 'Execution on ' | tee -a /home/{{ lookup('env', 'DEFAULT_USER') }}/ssl_update_cron.log
  date +"%D@%H:%M:%S" | tee -a /home/{{ lookup('env', 'DEFAULT_USER') }}/ssl_update_cron.log
}

_backup_cert
_update_cert && curl $MONITOR_URL?state=complete || curl $MONITOR_URL?state=fail
_report

[[ $rc -ne 0 ]] && cp ${backup_cert} ${cert_path} && cp ${backup_key} ${key_path} && sudo systemctl restart nginx
